* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --primary: #36ff81;
  --gray: #AAAA;
  --black-50: #151515;
  --black-100: #101010;
  --black-200: #0c0c0c;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: #FFF
}

body,
input,
textarea,
button {
  font: 500 1rem "Roboto", sans-serif;
  color: var(--gray-500);
  border: 0;
}
body{
  background-color: rgba($color: #f1f1f1, $alpha: .3);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}
